
body {
    background-color: #eed9d9;
}

.link{
    text-align: center;
    list-style-type: none;
}

.header {
    background-color: #add8e6;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(43, 79, 109);
}

.first-paragraph {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: stretch;
    height: 440px;
}

.footer h2 {
    background-color: #add8e6;
    text-align: center;
    font-size: 18px;
}

div aside > img {
    width: 400px;
    height: 400px;

}
