
body {
    background-color: #eed9d9;
}

.link {
    display: block;
    text-align: center;
    list-style-type: none;
}

.header {
    background-color: #add8e6;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(43, 79, 109);
}
