#head {
    background-color: pink;
}

h1 {
    color: rgb(0, 0, 128);
}

body {
    background-color: pink;
}

.link {
    display: block;
    text-align: center;
}

.index {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

